#sobrenos{
    background-color: aliceblue;
    border-radius: 25px;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#sobrenos h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #638363;
}

/* p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 6px;
    text-align: justify;
  
} */