* {
  margin: 0;
  padding: 0;
  border: 0;
}
li titulo {
  float: left;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #638363;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  float: right;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #476147;
}
